@import url('https://fonts.googleapis.com/css?family=Oswald');
.sign {
	justify-content: center;
	font-family: 'Oswald', sans-serif;
	padding: 5%;
	border: 5px solid black;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 40%
}
#login, #password, #hello, #registration {
	max-width: 90%
}
.clue {
	font-size: 12px;
}
.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.0s;	
	-webkit-animation-duration: 1.0s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@media screen and (max-width: 768px) {
	.sign {
		margin-left: 25%;
		margin-right: 25%;
	}
}