<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Мои альбомы</title>
  <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
</head>
<body>
  <header>
    <p><a href="/"><em class="logo">Social network</em></a></p>
    <div th:if="${currentUser != null}" class="logout">
      <form action="/logout" method="get">
        <input type="submit" value="Выход">
      </form>
    </div>
  </header>
  <div class="menu">
    <ul th:if="${currentUser != null}">
      <li><a class="active" href="/search">Поиск</a></li>
      <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
      <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
      <li><a href="/communities">Группы</a></li>
      <li><a href="/news">Новости</a></li>
      <li><a href="/messages">Сообщения</a></li>
      <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
    </ul>
  </div>
  <main>
    <div class="convers-content">
      <form class="load-photo" action="/albums/add" method="post" enctype="multipart/form-data">
        <div class="addPhoto-item">
          <label for="title">Название альбома: </label>
          <input id="title" name="title" type='text' placeholder="Введите название альбома" minlength="1" maxlength="63" required="required"/>
        </div>
        <center class="addPhoto-item">
          <input class="load-photo-button" type="submit" value="Сохранить">
        </center>
      </form>
    </div>
  </main>
</body>
</html>