<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить фото</title>
  <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#photo')
          .attr('src', e.target.result)
          .width(150)
          .height(200);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</head>
<body>
<header>
        <p><a href="/"><em class="logo">Social network</em></a></p>
        <div th:if="${currentUser != null}" class="logout">
            <form action="/logout" method="get">
                <input type="submit" value="Выход">
            </form>
        </div>
    </header>
    <div class="menu">
        <ul>
          <li><a class="active" href="/search">Поиск</a></li>
      </ul>
      <ul th:if="${currentUser != null}">
        <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
        <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
        <li><a href="#contact">Группы</a></li>
        <li><a href="/messages">Сообщения</a></li>
        <li><a href="#about">Фотографии</a></li>
    </ul>
    <div>
        <form th:if="${currentUser == null}" action="/" method="post">
            <input style="display: none;" type="text" name="currentPage" th:value="'/user/' + ${pageUser.id}">
            <input type="text" id="login" name="login" placeholder="E-mail">
            <br>
            <input type="password" id="pass" name="pass" placeholder="Пароль">
            <br>
            <input type="submit" value="Войти">
        </form>
    </div>
</div>
  <main>
    <div class="convers-content">
      <form class="load-photo" action="/add-photo" method="post" enctype="multipart/form-data">
        <div class="addPhoto-item">
          <img id="photo" src="#" alt="Ваше фото" />
        </div>
        <div class="addPhoto-item">
          <input id="newPhoto" name="newPhoto" type='file' onchange="readURL(this);" accept=".jpg, .jpeg, .png"/>
        </div>
        <div class="addPhoto-item">
          <label for="makeAvatar" style="font-size: 12px;">Сделать аватаром</label>
          <input id="makeAvatar" name="makeAvatar" type="checkbox" value="1">
        </div>
        <center class="addPhoto-item">
          <input class="load-photo-button" type="submit" value="Загрузить">
        </center>
      </form>
    </div>
  </main>
</body>
</html>