<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Альбом</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
  <link th:href="@{/css/lib/bootstrap.min.css}" href="../static/css/lib/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/lib/mdb.min.css}" href="../static/css/lib/mdb.min.css" rel="stylesheet">
  <link th:href="@{/css/user.css}"  href="../static/css/user.css" rel="stylesheet">
  <script defer type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}" src="../static/js/lib/jquery-3.3.1.min.js"></script>
  <script defer type="text/javascript" th:src="@{/js/lib/popper.min.js}" src="../static/js/lib/popper.min.js"></script>
  <script defer type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}" src="../static/js/lib/bootstrap.min.js"></script>
  <script defer type="text/javascript" th:src="@{/js/lib/mdb.min.js}" src="../static/js/lib/mdb.min.js"></script>
</head>
<body>
<header>
  <div class="row">
    <div class="col-6">
      <p><a href="/"><em class="logo">Social network</em></a></p>
    </div>
    <div class="col-6">
      <div th:if="${currentUser != null}" class="float-right">
        <form action="/logout" method="get">
          <input class="btn white-text" type="submit" value="Выход">
        </form>
      </div>
    </div>
  </div>
</header>
<div class="menu">
  <ul th:if="${currentUser != null}">
    <li><a class="active" href="/search">Поиск</a></li>
    <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
    <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
    <li><a href="/communities">Группы</a></li>
    <li><a href="/news">Новости</a></li>
    <li><a href="/messages">Сообщения</a></li>
    <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
    <li th:if="${currentUser.authorities[0].name().equals('ADMIN')}"><a href="/log">Логи</a></li>
  </ul>
  <div>
    <form th:if="${currentUser == null}" action="/login" method="post">
      <input type="text" id="itech_login" name="itech_login" placeholder="E-mail">
      <br>
      <input type="password" id="itech_pass" name="itech_pass" placeholder="Пароль">
      <br>
      <div>
        <label style="font-size: 11px; color: white; max-width: 100px;" for="itech_remember">Запомнить меня?</label>
        <input style="max-width: 40px;" type="checkbox" id="itech_remember" name="itech_remember">
      </div>
      <input type="submit" value="Войти">
    </form>
  </div>
</div>
<main>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row" th:each="photo : ${photos}">
        <div class="col-4">
          <a th:href="'/photos/' + ${photo.id}">
            <div class="view">
              <div class="square img-fluid" style="background-image: url(../static/img/no-avatar.png)" th:style="'background-image: url(https://s3.amazonaws.com/' + #{s3.bucket} + '/' + ${photo.title} + ')'"></div>
              <div class="mask flex-center waves-effect waves-light rgba-black-light">
                <p class="white-text"><i class="far fa-clock pr-1"></i><span th:text="${#dates.format(photo.dateOfPost, 'dd/MM/yyyy')}">05/10/2015</span></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>