<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Альбом</title>
  <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
</head>
<body>
<header>
    <p><a href="/"><em class="logo">Social network</em></a></p>
    <div th:if="${currentUser != null}" class="logout">
        <form action="/logout" method="get">
            <input type="submit" value="Выход">
        </form>
    </div>
</header>
<div class="menu">
    <ul th:if="${currentUser != null}">
        <li><a class="active" href="/search">Поиск</a></li>
        <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
        <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
        <li><a href="/communities">Группы</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/messages">Сообщения</a></li>
        <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
    </ul>
    <div>
        <form th:if="${currentUser == null}" action="/login" method="post">
            <input type="text" id="itech_login" name="itech_login" placeholder="E-mail">
            <br>
            <input type="password" id="itech_pass" name="itech_pass" placeholder="Пароль">
            <br>
            <div>
                <label style="font-size: 11px; color: white; max-width: 100px;" for="itech_remember">Запомнить меня?</label>
                <input style="max-width: 40px;" type="checkbox" id="itech_remember" name="itech_remember">
            </div>
            <input type="submit" value="Войти">
        </form>
    </div>
</div>
  <main>
    <div class="convers-content">
      <div class="albums">
          <div th:each="photo : ${photos}">
              <a th:href="'/photos/' + ${photo.id}" class="album-cover">
                  <img style="width: 100%;" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${photo.title}" alt="">
              </a>
          </div>
      </div>
    </div>
  </main>
</body>
</html>