<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои друзья</title>
    <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
    <script>

    </script>
</head>
<body>
<header>
    <p><a href="/"><em class="logo">Social network</em></a></p>
    <div th:if="${currentUser != null}" class="logout">
        <form action="/logout" method="get">
            <input type="submit" value="Выход">
        </form>
    </div>
</header>
<div class="menu">
    <ul>
        <li><a class="active" href="/search">Поиск</a></li>
    </ul>
    <ul th:if="${currentUser != null}">
        <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
        <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
        <li><a href="#contact">Группы</a></li>
        <li><a href="/messages">Сообщения</a></li>
        <li><a href="#about">Фотографии</a></li>
    </ul>
    <div>
        <form th:if="${currentUser == null}" action="/" method="post">
            <input type="text" id="login" name="login" placeholder="E-mail">
            <br>
            <input type="password" id="pass" name="pass" placeholder="Пароль">
            <br>
            <input type="submit" value="Войти">
        </form>
    </div>
</div>
<main>
    <div class="friends-panel">
        <div class=" my-friends">
            <div th:if="${friends != null}">
                <p th:text="'Друзья: ' + ${friends.size()}" class="friends-block-header">Друзья: 10</p>
                <div class="friends-list">
                    <div th:if="${!friends.isEmpty()}">
                        <div th:each="friend : ${friends}" class="friends-list-person">
                            <div>
                                <img th:if="${friend.avatar == null}" class="friends-list-person-av" th:src="@{/img/no-avatar.png}" src="../static/img/no-avatar.png" alt="">
                                <img th:if="${friend.avatar != null}" class="friends-list-person-av" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${friend.avatar.title}" src="../static/img/no-avatar.png" alt="">
                                <a th:text="${friend.userName} + ' ' + ${friend.userSurname}" th:href="'/users/' + ${friend.userId}" class="friends-name">Владислав Ефимчик</a>
                                <div th:if="${currentUser != null && currentUser.id == id}">
                                    <a href="">Отправить сообщение</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${friends == null}">
                <p class="friends-block-header">Данные удалены</p>
            </div>
        </div>
        <div class=" my-friends">
            <div th:if="${subscribers != null}">
                <p th:text="'Подписчики: ' + ${subscribers.size()}" class="friends-block-header">Подписчики: 10</p>
                <div class="friends-list">
                    <div th:if="${!subscribers.isEmpty()}">
                        <div th:each="subscriber : ${subscribers}" class="friends-list-person">
                            <div>
                                <img th:if="${subscriber.avatar == null}" class="friends-list-person-av" th:src="@{/img/no-avatar.png}" src="../static/img/no-avatar.png" alt="">
                                <img th:if="${subscriber.avatar != null}" class="friends-list-person-av" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${subscriber.avatar.title}" src="../static/img/no-avatar.png" alt="">
                                <a th:text="${subscriber.userName} + ' ' + ${subscriber.userSurname}" th:href="'/user/' + ${subscriber.userId}" class="friends-name">Владислав Ефимчик</a>
                                <div th:if="${currentUser != null && currentUser.id == id}">
                                    <a th:href="'/user/addFriendship/' + ${subscriber.userId}">Принять заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${subscribers == null}">
                <p class="friends-block-header">Данные удалены</p>
            </div>
        </div>
        <div class=" my-friends">
            <div th:if="${subscriptions != null}">
                <p th:text="'Подписки: ' + ${subscriptions.size()}" class="friends-block-header">Подписки: 10</p>
                <div class="friends-list">
                    <div th:if="${!subscriptions.isEmpty()}">
                        <div th:each="subscription : ${subscriptions}" class="friends-list-person">
                            <div>
                                <img th:if="${subscription.avatar == null}" class="friends-list-person-av" th:src="@{/img/no-avatar.png}" src="../static/img/no-avatar.png" alt="">
                                <img th:if="${subscription.avatar != null}" class="friends-list-person-av" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${subscription.avatar.title}" src="../static/img/no-avatar.png" alt="">
                                <a th:text="${subscription.userName} + ' ' + ${subscription.userSurname}" th:href="'/user/' + ${subscription.userId}" class="friends-name">Владислав Ефимчик</a>
                                <div th:if="${currentUser != null && currentUser.id == id}">
                                    <a th:href="'/user/removeFriendship/' + ${subscription.userId}">Отписаться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${subscriptions == null}">
                <p class="friends-block-header">Данные удалены</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>