<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
</head>
<body>
<header>
  <p><a href="/"><em class="logo">Social network</em></a></p>
  <div th:if="${currentUser != null}" class="logout">
    <form action="/logout" method="get">
      <input type="submit" value="Выход">
    </form>
  </div>
</header>
<div class="menu">
  <ul th:if="${currentUser != null}">
    <li><a class="active" href="/search">Поиск</a></li>
    <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
    <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
    <li><a href="/communities">Группы</a></li>
    <li><a href="/news">Новости</a></li>
    <li><a href="/messages">Сообщения</a></li>
    <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
  </ul>
  <div>
    <form th:if="${currentUser == null}" action="/login" method="post">
      <input type="text" id="itech_login" name="itech_login" placeholder="E-mail">
      <br>
      <input type="password" id="itech_pass" name="itech_pass" placeholder="Пароль">
      <br>
      <div>
        <label style="font-size: 11px; color: white; max-width: 100px;" for="itech_remember">Запомнить меня?</label>
        <input style="max-width: 40px;" type="checkbox" id="itech_remember" name="itech_remember">
      </div>
      <input type="submit" value="Войти">
    </form>
  </div>
</div>
  <main th:with="dialogsCount=${messageWindows.size()}">
    <div class="messages-header">
      <h2 th:text="'Мои диалоги: ' + ${dialogsCount}">Мои диалоги: 0</h2>
      <div>
        <a th:if="${dialogsCount == 0}" th:href="'/friends/' + ${currentUser.id}">Напишите кому-либо</a>
      </div>
    </div>
    <div th:each="messageWindow : ${messageWindows}">
      <div class="message-cover">
        <div th:if="${messageWindow.friend.avatar != null}">
          <img style="width: 100px; height: 100px; overflow: hidden;" class="message-avatar" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${messageWindow.friend.avatar.title}" src="" alt="no-photo">
        </div>
        <div th:if="${messageWindow.friend.avatar == null}">
          <img style="width: 100px; height: 100px; overflow: hidden;" class="message-avatar" th:src="@{/img/no-avatar.png}" src="" alt="no-photo">
        </div>
        <div>
          <a th:text="${messageWindow.friend.userName} + ' ' + ${messageWindow.friend.userSurname}" class="message-author" th:href="'/conversations/' + ${messageWindow.friend.userId}">Владислав Ефимчик</a>
          <p th:if="${messageWindow.authorId == currentUser.id}" th:text="'(Я) ' + ${messageWindow.lastMessage}" class="part-of-message">Some message</p>
          <p th:if="${messageWindow.authorId != currentUser.id}" th:text="${messageWindow.lastMessage}" class="part-of-message">Some message</p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>