<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить фото</title>
  <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
    <script>
        let photo = 'photo';
        let comment = 'comment';
        let likes = 'likes';
        let del = 'delete';
    </script>
</head>
<body>
  <header>
    <p><a href="/"><em class="logo">Social network</em></a></p>
    <div th:if="${currentUser != null}" class="logout">
      <form action="/logout" method="get">
        <input type="submit" value="Выход">
      </form>
    </div>
  </header>
  <div class="menu">
    <ul th:if="${currentUser != null}">
      <li><a class="active" href="/search">Поиск</a></li>
      <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
      <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
      <li><a href="/communities">Группы</a></li>
      <li><a href="/news">Новости</a></li>
      <li><a href="/messages">Сообщения</a></li>
      <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
    </ul>
    <div>
      <form th:if="${currentUser == null}" action="/login" method="post">
        <input type="text" id="itech_login" name="itech_login" placeholder="E-mail">
        <br>
        <input type="password" id="itech_pass" name="itech_pass" placeholder="Пароль">
        <br>
        <div>
          <label style="font-size: 11px; color: white; max-width: 100px;" for="itech_remember">Запомнить меня?</label>
          <input style="max-width: 40px;" type="checkbox" id="itech_remember" name="itech_remember">
        </div>
        <input type="submit" value="Войти">
      </form>
    </div>
  </div>
  <main>
    <div class="photo-block">
      <div>
        <span th:if="${prevPhoto != null}">
          <a th:href="'/photos/' + ${prevPhoto}"><span class="photo-click-left"><<</span></a>
        </span>
        <span th:if="${nextPhoto != null}">
          <a th:href="'/photos/' + ${nextPhoto}"><span class="photo-click-right">>></span></a>
        </span>
        <img class="photo-window" th:src="'https://s3.amazonaws.com/' + ${bucketName} + '/' + ${photo.photo.title}" alt="no-photo">
      </div>
      <div class="photo-comment-block">
        <a class="photo-owner-name" th:if="${owner != null}" th:href="'/users/' + ${owner.id}">Владислав Ефимчик</a>
        <p class="photo-post-time" th:text="${photo.photo.dateOfPost}">2015-04-10 12:30</p>
        <div class="like-comment-amount">
          <span>
            <span th:if="${currentUser == null}">
              <img class="like-img" th:src="@{/img/black_like.svg}" src="../static/img/black_like.svg" alt="">
            </span>
            <span th:if="${currentUser != null && !photo.likedByCurrentUser}">
              <a th:onclick="'update(likes, photo, ' + ${photo.photo.id} + ')'"><img class="like-img" th:src="@{/img/black_like.svg}" src="../static/img/black_like.svg" alt=""></a>
            </span>
            <span th:if="${currentUser != null && photo.likedByCurrentUser}">
              <a th:onclick="'update(likes, photo, ' + ${photo.photo.id} + ')'"><img class="like-img" th:src="@{/img/red_like.svg}" src="../static/img/red_like.svg" alt=""></a>
            </span>
            <span class="like-amount" th:text="${photo.likesCount}">10</span>
          </span>
          <span>
            <img class="like-img" th:src="@{/img/comment.svg}" src="../static/img/comment.svg" alt="">
            <span class="like-amount" th:text="${comments == null ? 0 : comments.size()}">10</span>
          </span>
        </div>
        <div th:id="${comments != null}" th:each="comment : ${comments}">
          <div th:id="'comment' + ${comment.id}" class="photo-comment">
            <a th:if="${currentUser != null && comment.user.id == currentUser.id}" style="float: right; padding-top: 5px; text-decoration: none;" th:onclick="'update(del, comment, ' + ${comment.id} + ')'">X</a>
            <a class="photo-owner-name" th:href="'/users/' + ${comment.user.id}" th:text="${comment.user.name} + ' ' + ${comment.user.surname}">Владислав Ефимчик</a>
            <p class="photo-comment-text">
              <span th:each="word : ${comment.content.split(' ')}">
                <span th:if="${!word.startsWith('#')}" th:text="${word} + ' '">Я</span>
                <a th:href="'/search?hashtag=' + ${word.substring(1)}" th:if="${word.startsWith('#')}" th:text="${word} + ' '">#ефимчик</a>
              </span>
            </p>
          </div>
        </div>
        <div th:if="${currentUser != null}">
          <form th:action="'/comment/photo/' + ${id}" method="post">
              <textarea th:id="'commentContent' + ${photo.photo.id}" th:name="'commentContent' + ${photo.photo.id}" class="photo-comment-area" maxlength="255" minlength="1" required="required"></textarea>
              <input th:onclick="'newComment(' + 'photo, ' + ${photo.photo.id} + ')'" class="post-comment-input send-photo-comment" type="button" value="Отправить">
          </form>
        </div>
        <a href="/news" th:if="${currentUser != null && photo.photo.user.id == currentUser.id}" style="font-size: 12px; float: left;" th:onclick="'update(del, photo, ' + ${photo.photo.id} + ')'">Удалить фото</a>
      </div>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/update.js}" src="../static/js/update.js"></script>
  <script type="text/javascript" th:src="@{/js/comment.js}" src="../static/js/comment.js"></script>
</body>
</html>