<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки приватности</title>
    <link rel="stylesheet" th:href="@{/css/user.css}" href="../static/css/user.css">
</head>
<body>
<header>
    <p><a href="/"><em class="logo">Social network</em></a></p>
    <div th:if="${currentUser != null}" class="logout">
        <form action="/logout" method="get">
            <input type="submit" value="Выход">
        </form>
    </div>
</header>
<div class="menu">
    <ul th:if="${currentUser != null}">
        <li><a class="active" href="/search">Поиск</a></li>
        <li><a class="active" th:href="'/users/' + ${currentUser.id}" href="/">Моя страница</a></li>
        <li><a th:href="'/friends/' + ${currentUser.id}" href="/">Друзья</a></li>
        <li><a href="/communities">Группы</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/messages">Сообщения</a></li>
        <li><a th:href="'/albums/' + ${currentUser.id}">Фотографии</a></li>
    </ul>
    <div>
        <form th:if="${currentUser == null}" action="/login" method="post">
            <input type="text" id="itech_login" name="itech_login" placeholder="E-mail">
            <br>
            <input type="password" id="itech_pass" name="itech_pass" placeholder="Пароль">
            <br>
            <div>
                <label style="font-size: 11px; color: white; max-width: 100px;" for="itech_remember">Запомнить меня?</label>
                <input style="max-width: 40px;" type="checkbox" id="itech_remember" name="itech_remember">
            </div>
            <input type="submit" value="Войти">
        </form>
    </div>
</div>
<main>
    <form class="privacy-settings" action="/privacy-settings" method="post">
        <div class="privacy-option">
            <label for="fullInfo">Кто может писать мне сообщения?</label>
            <select name="messages" id="messages" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.messages, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.messages, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.messages, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-option">
            <label for="fullInfo">Кто может просматривать информацию обо мне?</label>
            <select name="fullInfo" id="fullInfo" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.fullInfo, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.fullInfo, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.fullInfo, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-option">
            <label for="photos">Кто может просматривать мои фото?</label>
            <select name="photos" id="photos" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.photos, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.photos, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.photos, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-option">
            <label for="friends">Кто может просматривать моих друзей?</label>
            <select name="friends" id="friends" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.photos, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.photos, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.photos, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-option">
            <label for="postAuthors">Кто может оставлять посты на моей странице?</label>
            <select name="postAuthors" id="postAuthors" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.postAuthors, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.postAuthors, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.postAuthors, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-option">
            <label for="fullInfo">Кто может комментировать мои записи?</label>
            <select name="comments" id="comments" required="required">
                <option value="a" th:selected="${curPrivSet == null || T(java.lang.Character).compare(curPrivSet.comments, 'a') == 0}">Все</option>
                <option value="f" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.comments, 'f') == 0}">Только друзья</option>
                <option value="m" th:selected="${curPrivSet != null && T(java.lang.Character).compare(curPrivSet.comments, 'm') == 0}">Только я</option>
            </select>
        </div>
        <div class="privacy-buttons">
            <input type="submit" value="Сохранить">
            <input type="reset" value="Сбросить">  
        </div>
    </form>
</main>
</body>
</html>