<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" media="all">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script type="text/javascript" th:src="@{/js/load-photo.js}" src="../static/js/load-photo.js"></script>
    <script type="text/javascript" th:src="@{/js/regex.js}" src="../static/js/regex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script defer type="text/javascript" th:src="@{/js/validate-date.js}" src="../static/js/validate-date.js"></script>
</head>
<body>
    <main class="sign fadeIn">
        <div>
            <h1 id="hello">Регистрация</h1>
            <div class="info">
                <img id="av" src="#" alt="Ваш Аватар" />
                <form action="/registration" method="post" enctype="multipart/form-data">
                    <div class="clue">
                        <label for="avatar">Выберите фото</label>
                    </div>
                    <div>
                        <input onchange="readURL(this);" type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png">
                    </div>
                    <div class="clue">
                        <label for="email">Логин*</label>
                    </div>
                    <div>
                        <input type="text" id="email" name="email" minlength="5" maxlength="127" required="required">
                    </div>
                    <div class="clue">
                        <label for="name">Имя*</label>
                    </div>
                    <div>
                        <input type="text" id="name" onkeypress="reg(/^[а-яА-Я\\p{Cyrillic}a-zA-Z]+$/)" name="name" minlength="2" maxlength="31" required="required">
                    </div>
                    <div class="clue">
                        <label for="surname">Фамилия*</label>
                    </div>
                    <div>
                        <input type="text" id="surname" onkeypress="reg(/^[а-яА-Я\\p{Cyrillic}a-zA-Z]+$/)" name="surname" minlength="3" maxlength="31" required="required">
                    </div>
                    <div class="clue">
                        <label for="city">Город</label>
                    </div>
                    <div>
                        <input type="text" id="city" name="city" onkeypress="reg(/^[а-яА-Я\\p{Cyrillic}a-zA-Z]+$/)" minlength="2" maxlength="31" required="required">
                    </div>
                    <div class="clue">
                        <label for="pass">Пароль (не менее 6 символов)*</label>
                    </div>
                    <div>
                        <input type="password" id="pass" name="pass" minlength="6" required="required">
                    </div>
                    <div class="clue">
                        <p>Пол*</p>
                    </div>
                    <div>
                        <label for="male">Мужчина</label>
                        <input type="radio" name="sex" id="male" value="m" required="required">
                        <label for="female">Женщина</label>
                        <input type="radio" name="sex" id="female" value="f"> 
                    </div>
                    <div class="clue">
                        <label for="dateOfBirth">Дата рождения*</label>
                    </div>
                    <div>
                        <input type="date" min="1900-01-01" id="dateOfBirth" name="dateOfBirth" required="required">
                    </div>
                    <p th:text="${error}" style="color: red" id="error"></p>
                    <input type="submit" value="Подтвердить">  
                </form>
            </div>
        </div>
    </main>
</body>
</html>